# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Venv & env
.venv/
venv/
.env
.env.*
**/.env
*.env
*.env.local

# Git / IDE
.git
.gitignore
.vscode/
.idea/

# Node
node_modules/
yarn-error.log
npm-debug.log
pnpm-lock.yaml
package-lock.json

# Build artefacts
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
