# Исключаем лишнее из контекста Docker
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
tests/
logs/
*.log

# Исключаем тяжелые данные
dataset/
mock_static/

# Исключаем IDE/системное
.vscode/
.idea/
.DS_Store
Thumbs.db

