# Основные зависимости
fastapi==0.109.1
uvicorn[standard]==0.22.0
pydantic==2.11.4
pydantic-settings==2.9.1
sqlalchemy~=2.0.7
python-dotenv~=1.1.0
requests>=2.31.0,<3.0.0
httpx==0.27.0
cryptography==44.0.1

# БД (выбирай нужную)
psycopg2-binary==2.9.9       # PostgreSQL
pyodbc~=5.2.0                # MSSQL, если нужен

# NLP – только если используется в review_service
nltk~=3.9.1
sentiment~=0.0.1             # можно убрать, если нет кастомной библиотеки

# Для wheel-сборки и yaml
wheel
setuptools
PyYAML
