# ========= Database =========
# Используй один URL ко всем общим моделям (common.*)
MAINDB_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require
DB_ECHO=false
TZ=Europe/Kyiv

# ========= Cross-service calls =========
# ВАЖНО: здесь только базовый хост! Пути /auth, /product, /reviews добавляются в клиентах.
PRODUCT_SERVICE_URL=https://api.alluresallol.com
REVIEW_SERVICE_URL=https://api.alluresallol.com
AUTH_SERVICE_URL=https://api.alluresallol.com
PROFILE_SERVICE_URL=https://api.alluresallol.com
SALES_SERVICE_URL=https://api.alluresallol.com
PAYMENTS_SERVICE_URL=https://api.alluresallol.com
DISCOUNT_SERVICE_URL=https://api.alluresallol.com
DASHBOARD_SERVICE_URL=https://api.alluresallol.com

# ========= External =========
NOWPAYMENTS_API_KEY=your-api-key-here
NGROK_WEBHOOK_URL=https://your-webhook-url-here
