# services/admin_service/.dockerignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Venv & env
.venv/
venv/
.env
.env.*

# Git / IDE
.git
.gitignore
.vscode/
.idea/

# Node
node_modules/
yarn-error.log

# Build artefacts
dist/
build/
*.egg-info/

dataset/
mock_static/

.DS_Store
Thumbs.db
