
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE
.venv/
venv/
.env
.env.*
.vscode/
.idea/

# сборки / мусор
dist/
build/
*.log
logs/
*.swp
*.bak
node_modules/

# не игнорируем common! (он нужен внутри образов)

.DS_Store
Thumbs.db
