# normalize line endings
* text=auto eol=lf

# keep shell/yml/py in LF
*.py   text eol=lf
*.sql  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.sh   text eol=lf
*.Dockerfile text eol=lf
Dockerfile text eol=lf

# binaries
*.pickle binary
*.pkl    binary
*.zip    binary
*.gz     binary
*.png    binary
*.jpg    binary
*.webp   binary

